/* ขยายขนาดปฏิทิน */
.custom-calendar {
  width: 500px;
  font-size: 18px;
}

/* ขยายขนาดปุ่มและตัวหนังสือในช่องวัน */
.custom-calendar .react-calendar__tile {
  padding: 20px;
  font-size: 18px;
}

/* ขยายขนาดหัวตาราง */
.custom-calendar .react-calendar__navigation button {
  font-size: 20px;
  padding: 10px;
}
